
.logo img{
    width: 200px;
    margin: 10px;
}
.contenedorMenu{
    display: flex;
    gap: 3rem;
    margin: 1rem;
    padding: 0 5rem;
}
.menu{
    color: black;
    text-decoration: none;
    font-size: 20px;
}
.menu:hover{
    color:rgb(176, 8, 64);
    transition: 0.2s;
    
}

@media(max-width:968px){
    .contenedorMenu{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: center;
        margin:0;
        
    
    }
    .containerNav{
        display: flex;
        justify-content: space-between;
    }

}